<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <script type="text/javascript" src="{{ asset('jquery-1.11.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.css') }}" />
        <link rel="stylesheet" href="{{ asset('my.css') }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
