{% extends 'base.html.twig' %}
{% block title %}Category Tree{% endblock %}

{% block body %}
    <h1>Category Tree</h1>
    <p>Please use context menu for edit, delete or add sub-nodes</p>
    <div class="ui-dialog-buttonset">
        <button id="create-root-node" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
            <span class="ui-button-text">Create root node</span>
        </button>
    </div>
    <div id="tree"></div>
    <div id="create-form" title="Create new node" style="display:none">
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </div>
    <div id="delete-prompt" title="Delete node" style="display:none">
        <p>Are you sure you want to delete node id <span id="delete-nodeID"></span>
        </p>
    </div>
    <div id="dialog-message" title="Success" style="display: none">
        <p id="message">

        </p>
    </div>
    <div id="dialog-rename" title="Rename node" style="display:none">
        <p id="rename-message"></p>
        <fieldset>
            <label for="name">New name</label>
            <input type="text" name="new-name" id="new-name" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tcdcategorytree/js/jstree/themes/default/style.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/tcdcategorytree/js/jstree/jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tcdcategorytree/js/main.js') }}"></script>
{% endblock %}